<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Produtos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <p-table [value]="produtos" [columns]="cols"
          emptyMessage="Nenhum produto encontrado"
           [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true"
           lazy="true" [totalRecords]="totalRegistro"
           (onLazyLoad)="aoMudarPagina($event)"
           #tabela>
        <ng-template pTemplate="header">
            <tr>
                <th>Descrição</th>
                <th style="width: 120px;">Data Compra</th>
                <th style="width: 120px;">Preco</th>
                <th style="width: 120px;">Quantidade</th>
                <th style="width: 120px;">Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prod>
            <tr>
                <td>{{prod.descricao}}</td>
                <td>{{prod.dataCompra | date:'dd/MM/yyyy'}}</td>
                <td>{{prod.preco | number:'1.2-2'}}</td>
                <td>{{prod.quantidade | number:'1.0-0'}}</td>
                <td>
                    <div style="padding: 0px;" class="ui-g-6">
                      <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                      [routerLink]="['/produtos', prod.codigo]" ></a>
                    </div>
                    <div style="padding: 0px;" class="ui-g-6">
                      <button class="ui-button-danger" pButton icon="pi pi-trash" (click)="excluir(prod)"  pTooltip="Excluir" tooltipPosition="top"></button>
                    </div>
                 </td>
            </tr>
        </ng-template>
    </p-table>

    </div>

    <div class="ui-g-12">
      <a pButton routerLink="/produtos/novo" label="Novo Produto" ></a>
    </div>

  </div>
</div>

